<style>
  .btn{
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .btn:hover{
    background-color: #fe424d;
    color: #fff;
  }
  .btn i{
    display: inline;
  }
</style>


<nav class="navbar navbar-expand-md bg-light border-bottom sticky-top shadow-sm py-2">
  <div class="container-fluid">
    <!-- Brand Logo -->
    <a class="navbar-brand d-flex align-items-center text-primary fw-bold" href="/listings">
      <i class="fa-regular fa-compass fs-4"></i>
      <span class="ms-2 fs-4">Roomify</span>
    </a>

    <div class="navbar-nav ms-auto">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">  Search</button>
      </form>
    </div>
    <!-- Toggler Button -->
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- Left-aligned Links -->
      <div class="navbar-nav me-auto">
        <!-- <a class="nav-link text-dark fw-semibold" href="/listings">All Listings</a> -->      
      </div>
      
      <!-- Right-aligned Links -->
      <div class="navbar-nav">
        <a class="nav-link text-dark fw-semibold" href="/listings/new">Add New Listing</a>
        <% if (!currentUser) { %>
          <a class="nav-link text-primary fw-semibold" href="/signup">Sign Up</a>
          <a class="nav-link text-primary fw-semibold" href="/login">Log In</a>
        <% } else { %>
          <a class="nav-link text-danger fw-semibold" href="/logout">Log Out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>